Net LEDS<7> LOC = AE24 ;
Net LEDS<6> LOC = AD24 ;
Net LEDS<5> LOC = AD25 ;
Net LEDS<4> LOC = G16 ;
Net LEDS<3> LOC = AD26 ;
Net LEDS<2> LOC = G15 ;
Net LEDS<1> LOC = L18 ;
Net LEDS<0> LOC = H18 ;
Net LED_C LOC=E8 ;
Net LED_W LOC=AF23 ;
Net LED_S LOC=AG12 ;
Net LED_E LOC=AG23 ;
Net LED_N LOC=AF13 ;
Net PUSH_C LOC = AJ6 ;
Net PUSH_W LOC = AJ7 ;
Net PUSH_S LOC = V8 ;
Net PUSH_E LOC = AK7 ;
Net PUSH_N LOC = U8 ;
Net DIP<0> LOC=U25 ;
Net DIP<1> LOC=AG27 ;
Net DIP<2> LOC=AF25 ;
Net DIP<3> LOC=AF26 ;
Net DIP<4> LOC=AE27 ;
Net DIP<5> LOC=AE26 ;
Net DIP<6> LOC=AC25 ;
Net DIP<7> LOC=AC24 ;
Net RS232_IN LOC = AG15 ;
Net RS232_OUT LOC = AG20 ;
Net SYSCLK TNM_NET = sys_clk_pin ;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz ;
Net SYSCLK LOC = AH15 ;
Net SYSRST TIG;
Net SYSRST LOC = E9 ;
