.*
*.swp
*.pyc
*.pyo
*.o
*.tmp
*.log
*.out
*.log
*.dat

*/db/*
*/incremental_db/*

*.pof
*.qpf
*.rpt
*.summary

junk
test
run

ISE
*.tar
*.bat
*.exe
Familiarization

*.map
*.ncd
*.ngm
*.xrpt
*.ut
*.drc
*.cmd_log
*.bit
*.bgn
*.bld
*.ngr
*.ngd
*.ngc
*.lso
*.xise
*.gise
*.xwbt
*.xsl
*.ipf
*.xpi
*.syr
*.stx
*.ptwx
*.prj
*.pad
*.par
*.pcf
*.twr
*.twx
*.mrp
*.xst
*.unroutes
*_impact.cmd
*_envsettings.html
*_summary.html
*_summary.xml
*_usage.xml
*_pad.txt
*_pad.csv
_ngo
_xmsgs
xst
xlnx_auto_0_xdb
iseconfig
usage_statistics_webtalk.html
webtalk_pn.xml
webtalk_impact.xml
